<div style="background-color: #2b2b2b;">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>About</h2>
                <h5>History</h5>
                <h5>Our Team</h5>
                <h5>Brand Guidelines</h5>
                <h5>Terms & Condition</h5>
                <h5>Privacy Policy</h5>
            </div>
            <div class="col">
                <h2>Service</h2>
                <h5>How to Order</h5>
                <h5>Our Product</h5>
                <h5>Order Status</h5>
                <h5>Promo</h5>
                <h5>Payment Method</h5>

            </div>
            <div class="col" style="text-align: right; padding-right: 20px;">
                <h2>Title Here</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>

                <form class="d-flex">
                    <input class="form-control me-2" type="search">
                    <button class="btn btn-info" type="submit">
                    <i class="bi bi-send-fill" style="color: white;"></i>
                  </button>
                </form>

            </div>
        </div>
    </div>

</div>