<div style="background-color: #2b2b2b; margin-bottom: 20px; padding-bottom: 30px; padding-top: 20px;">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>About</h2>
                <h6>History</h6>
                <h6>Our Team</h6>
                <h6>Brand Guidelines</h6>
                <h6>Terms & Condition</h6>
                <h6>Privacy Policy</h6>
            </div>
            <div class="col">
                <h2>Service</h2>
                <h6>How to Order</h6>
                <h6>Our Product</h6>
                <h6>Order Status</h6>
                <h6>Promo</h6>
                <h6>Payment Method</h6>

            </div>
            <div class="col" style="text-align: right; padding-right: 20px;">
                <h2>Title Here</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>

                <form class="d-flex">
                    <input class="form-control" type="search">
                    <button class="btn btn-info" type="submit">
                    <i class="bi bi-send-fill" style="color: white;"></i>
                  </button>
                </form>
                <a href="https://www.instagram.com/">
                    <i class="bi bi-instagram" id="redes"></i>
                </a>
                <a href="https://www.twitter.com/">
                    <i class="bi bi-twitter" id="redes"></i>
                </a>
                <a href="https://www.facebook.com/">
                    <i class="bi bi-facebook" id="redes"></i>
                </a>
                <a href="https://www.web.whatsapp.com/">
                    <i class="bi bi-whatsapp" id="redes"></i>
                </a>

            </div>
        </div>
        <div class="row">
            <div class="container text-center" style="color: #949494;">
                <h3><small>Realizado por</small> Evert Heredia Santander</h3>
            </div>
        </div>
    </div>
</div>
