<div style="background-color: #E0B407; padding-top: 70px; padding-bottom: 20px;">

    <div class="row">
        <div class="col" style="padding-top: 40px;">
            <div class="container" style="color: white;">
                <h1>First I wanted to be a veterinarian</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi aliquid sapiente reprehenderit adipisci necessitatibus accusamus dolor blanditiis dolorem at autem? Aperiam recusandae.</p>
                <button type="button" class="btn btn-info" style="color: white;">Contact Us</button>
                <button type="button" class="btn btn-outline-info" style="color: white;">Our Service</button>
            </div>
        </div>
        <div class="col" style="padding-top: 40px;">
            <img src="assets/images/perro2.svg" class="img-fluid" width="300px" height="250px" style="position: absolute;">

        </div>
    </div>



</div>